.navbar {
  background: #f4f6fa;
  margin-top: 25px;
  width: 90%;
  padding-left: 5%;
  top: 0;
  z-index: 1000;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 0 16px 15px 16px;
  height: 60px;
  max-width: 1200px;
  margin: 10px auto 0 auto;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #034d88;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 5px;
  transition: background 0.18s, color 0.18s;
  gap: 3px;
}

.logo {
  height: 40px;
  width: auto;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #034d88;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 5px;
  transition: background 0.18s, color 0.18s;
}

.profile-link:hover, .profile-link.active {
  background: #034d88;
  color: #f4f6fa;
}

.material-symbols-outlined {
  font-size: 24px;
}

.g_id_signin {
  margin-left: auto;
}
